<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Hilary Kariuki</h2>
            <h4>hilarymwendia97@gmail.com</h4>
        </div>

        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="hilary">

    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>  

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
         Dashboard
      </a>
      
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>school</mat-icon> Course and Batch Management
      </a>
      
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/MarksEntry">
        <mat-icon>assignment</mat-icon> Marks Entry
      </a>
      
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/ExamResultsProcessing">
        <mat-icon>assignment_turned_in</mat-icon> Exam Results Processing
      </a>
      
    <mat-divider></mat-divider>

   <h2 mat-subheader>Tools</h2>

   <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
   <mat-icon>import_contacts</mat-icon>
   Contacts
</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
 </a>


</mat-nav-list>

