<div class="mat-elevation-z1">
    <div *ngIf="loading">
      <p><small>Loading, please wait...</small></p>
      <p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </p>
    </div>
    <mat-card-header class="breadcrumb">
      <div>
        <a routerLink="" skipLocationChange>Dashboard / </a>Main
      </div>
    </mat-card-header>
      <div class="row table-action-row">
        <div class="on-mobile-hide col-md-6 col-sm-12">
          <div>&nbsp; &nbsp;
            <button class="table-main-action-btn" mat-raised-button
             (click)="onDialog('', 'ADD')" color="primary">
              <i class="fa fa-plus" aria-hidden="true"></i>CREATE</button>
            <button class="table-main-action-btn bg-success text-white" matTooltip="CSV" mat-raised-button (click)="
            exporter.exportTable('csv', { fileName: 'JobGroup Data' })">
            <i class="fa fa-file-powerpoint-o"></i> CSV
          </button>
          <button class="table-main-action-btn bg-primary text-white" matTooltip="EXCEL" mat-raised-button (click)="
            exporter.exportTable('xlsx', { fileName: 'JobGroup Data' })
          "> <i class="fa fa-file-excel-o"></i> EXCEL
          </button>
          <button class="table-main-action-btn bg-info text-white" matTooltip="JSON" mat-raised-button (click)="
            exporter.exportTable('json', { fileName: 'JobGroup Data' })
          "><i class="fa fa-file-code-o"></i> JSON
          </button>
          <button class="table-main-action-btn bg-secondary text-white" matTooltip="TEXT" mat-raised-button (click)="
            exporter.exportTable('txt', { fileName: 'JobGroup Data' })
          "> <i class="fa fa-file-text-o"></i> TEXT
          </button>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <input class="pull-right search form-control" (keyup)="applyFilter($event)" placeholder="Filter..." #input>
        </div>
      </div>
      <br>
      <div class="table-row">
        <table mat-table matSort matTableExporter [dataSource]="dataSource"
          #exporter="matTableExporter">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
          </ng-container>
          
          <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
            <td mat-cell *matCellDef="let row"> {{row.courseName | uppercase}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Description</th>
            <td mat-cell *matCellDef="let row">Kshs. {{row.description}} </td>
          </ng-container>
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Duration</th>
            <td mat-cell *matCellDef="let row">Kshs. {{row.duration}} </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>created At</th>
            <td mat-cell *matCellDef="let row">Kshs. {{row.createdAt}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="postedTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Posted On </th>
            <td mat-cell *matCellDef="let row"> {{row.postedTime | date}} </td>
          </ng-container> -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.status == 'Active' " class="badge badge-pill badge-success">Active</span>
              <span *ngIf="row.status == 'Pending' " class="badge badge-pill badge-danger">Pending</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="verifiedFlag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Approved</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.verifiedFlag == 'Y' " class="badge badge-pill badge-success">Approved</span>
              <span *ngIf="row.verifiedFlag == 'N' " class="badge badge-pill badge-warning">Pending</span>
          </ng-container>
          
          <ng-container matColumnDef="deletedFlag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Deleted</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.deletedFlag == 'Y' " class="badge badge-pill badge-danger">YES</span>
              <span *ngIf="row.deletedFlag == 'N' " class="badge badge-pill badge-primary">NO</span>
          </ng-container> 
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
              <mat-icon color="primary" (click)="onDialog(row, 'UPDATE')">update</mat-icon> &nbsp; &nbsp;
              <mat-icon color="primary" (click)="onDialog(row, 'VERIFY')">check_circle</mat-icon> &nbsp; &nbsp;
              <mat-icon color="accent" (click)="onDelete(row.id)">delete</mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[9, 20, 30, 40, 50, 100]" aria-label="Select page of JobGroup"></mat-paginator>
    </div>